.head{
	left:865px;
	width: 431px;
}
.Form{
	width:431px;
}
#btn{
	width: 431px;
}
#imgEmail{
top: -306px;
left: 0px;
}
#imgLock{
top: -186px;
left: -14px
}
#rectEmail{
width: 100%;
}
#rectPassword{
	widows: 100%;
}
#smicons{
	top:640px;
	left: 130px;
	
}
#apple{
margin-left: 20px;
}
#google{
margin-left: 20px;


}
@media (max-width: 480px){
.backgroundImg{
display: none;
}
.head{
	left: 30px;
	width:350px;

}
.Form{
	width: 350px;
}
body{
	min-width: 480px;
	max-width: 480px;
}
#btn{
	width: 350px;
}
#imgEmail{
top: -305px;
left: -0px;
}
#imgLock{
top: -185px;
left: -14px
}
#smicons{
	top:640px;
	left: 95px;
	
}
#apple{
margin-left: 20px;
}
#google{
margin-left: 20px;
}
}


.ppp {
	position: absolute;
	top: 0px;
	right: 10%;
	z-index: 10000;
}